.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  z-index: 1000;

  &-content {
    background-color: #f0d100;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 250px rgb(255, 255, 255);
    text-align: left;
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  button {
    border-radius: 10px;
    font-size: 25px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: 2px solid #000000;
    font-weight: 500;

    &:hover {
      background-color: #000000;
      color: #ffffff;
      transition: 0.3s ease-in-out;
    }
  }
  &.open {
    display: flex;
  }
}

@media (max-width: 700px) {
  .modal {
    &-content{
      padding: 20px;
      margin: 0px 20px ;

    }
    button{
      font-size: 20px;
    }
  }

}